:root {
  --main-page-color: #ffffff;
  --side-main-page-color: #dddddd;
  --see-me-colour: rgb(255, 225, 0);
  --main-text-color: #000000;
  --side-text-color: grey;
}

.section {
  display: flex;
  color: var(--main-text-color);
}

.section > img {
  width: 1.5rem;
}

nav {
  display: flex;
  top: 0;
  position: sticky;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #000000;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-page-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.logo > img {
  height: 40px;
  padding: 5px;
  border-radius: 100%;
  background-color: var(--side-main-page-color);
}

.logo > div {
  display: flex;
}

.logo > div > h2:nth-child(2) {
  color: red;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section {
  border-radius: 10px;
  border: 100px;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  margin: 1px 25px;
  align-items: center;
  justify-content: flex-start;
}

.selected {
  background-color: var(--see-me-colour);
}

.section:hover {
  background-color: rgb(175, 154, 0);
  transition: 0.3s;
}

.menu > p {
  margin-top: 20px;
  margin-left: 14%;
}

.NotyBuble {
  position: absolute;
  right: 1vh;
  background-color: var(--see-me-colour);
  border-radius: 100%;
  padding: 10px 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.65rem;
  gap: 10px;
}

.user > img {
  width: 125px;
}

.user > h3 {
  font-size: 2rem;
}

.user > button {
  font-size: 1.1rem;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 15px;
}

.user > p {
  color: var(--side-text-color);
  margin: 1px;
  font-size: 1rem;
}

.user > p:last-child {
  margin: 10px;
}
